body {
	margin: 0px;
	font-size: 62.5%;
}
#banner {
	width: 100%;
	height: 160px;
}
#header {
	background-color: black;
	width: 100%;
	height: 36px;
}
#word {
	position: relative;
	top: 6px;
	left: 5px;
	font-size: 16px;
	color: yellow;
}
#lr {
	background-color: black;
	margin: 0px;
	width: 100%;
	height: 36px;
}
#login {
	display: inline-block;
	margin-left: 80%;
	margin-top: 12px;
	font-size: 16px;
	color: orange;
	font-weight: bold;
}
#register {
	display: inline-block;
	margin-left: 2%;
	margin-top: 12px;
	font-size: 16px;
	color: orange;
	font-weight: bold;
}
#navigation {
	margin-top: 10px;
	margin-left: 30%;
	margin-right: 2%;
	height: 45px;
	background-color: #ADFF2F;
}
.item {
	text-decoration: none;
	display: inline-block;
	margin: 10px 20px;
	color: black;
	font-size: 25px;
}
#sidebar {
	display: inline-block;
	margin-left: 1%;
	margin-top: 2%;
	background-color: #FFE4E1;
	width: 400px;
	height: 1024px;
}
#sidebar p {
	margin-top: 2px;
	margin-left: 4px;
	font-size: 20px;
	color: #000080;
}
#middle {
	display: inline-block;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
	width: 64%;
	height: 1024px;
	background-color: #eeeeee;
}
article {
	padding-left: 2%;
}
article header {
	font-size: 36px;
	font-weight: bold;
	font-family: monospace;
}
article .author {
	color: orange;
}
article .content {
	font-size: 16px;
	color: #9acd32;
}
#footer {
	visibility: visible;
	width: 100%;
	height: 50px;
	background-color: #191970;
}