#welcome
{
	height: 30px;
	width: 98%;
	margin: auto;
	margin-bottom: 10px;
	color: green;
	background-color: #cfd453;
	text-align: center;
	font-family: 华文新魏 serif;
	font-size: 25px;
}
#form
{
	margin: auto;
	width: 400px;
	height: 500px;
	background: pink;
	padding-top: 10px;
	text-color: black;
}
input {
	border: 1px solid #333333;
	backgroud-color: #eeeeee;
	font-weight: bold;
	color: blue;
}
.input {
	display: block;
	margin-top: 10px;
	margin-left: 30px;
}
.box {
	width: 70%;
}
#submit {
	margin-left: 10%;
	background-color: orange;
	color: white;
	font-family: 隶书;
	font-size:16px;
}
#reset {
	margin-left:25%;
	background-color: orange;
	color: white;
	font-family: 隶书;
	font-size:16px;
}
#date
{
	color: red;
	margin-left: 40%;
}